<div *ngFor="let selectedItem of selectedItem$ | async">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="detail">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
              <button type="button" (click)="goToList()" class="btn btn-outline-danger">X</button>
            </div>
          </div>
          <h3>
            {{selectedItem.name}}
          </h3>
    
          <div class="photo-detail">
            <img class="img-thumbnail" src="{{selectedItem.thumbnail}}" alt="thumbnail">
          </div>

          <div class="block">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item">
                <button type="button" class="btn btn-warning">
                  Weight <span class="badge badge-light">{{selectedItem.weight | number: '1.0-0'}}</span>
                </button>
              </li>
              <li class="list-group-item">
                <button type="button" class="btn btn-warning">
                  Height <span class="badge badge-light">{{selectedItem.height | number: '1.0-0'}}</span>
                </button>
              </li>
            </ul>
          </div>

          <div class="block">

            <ul class="list-group list-group-horizontal">
              <li class="list-group-item">
                <button type="button" class="btn btn-primary">
                  Age <span class="badge badge-light">{{ selectedItem.age }}</span>
                </button>
              </li>
            </ul>
          </div>

            
          <div class="block">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item">
                <button type="button" class="btn btn-success">
                  Hair color <span class="badge badge-light">{{ selectedItem.hair_color }}</span>
                </button>
              </li>
            </ul>
          </div>

          <div class="row">
            <h4 *ngIf="selectedItem.friends.length > 0">
              <span class="text-muted subtitle">
                Friends
              </span>
              <ul class="list list-unstyled">
                <li *ngFor="let friend of selectedItem.friends">
                  <h5>{{friend}}</h5>
                </li>
              </ul>
  
            </h4>
          </div>
          <div class="row">
            <h4 *ngIf="selectedItem.professions.length > 0">
              <span class="text-muted subtitle">
                Professions
              </span>
              <ul class="list list-unstyled">
                <li *ngFor="let profession of selectedItem.professions">
                  <h5>{{profession}}</h5>
                </li>
              </ul>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

