
.card-display {
    display: inline-block;
    max-height: 300px;
    margin: .4em;
    width: 15em;

}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    img {
        object-fit: cover;
        height: 100%;
        min-width: 100%;
    }
}