
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="filter">
        <button type="button" (click)="filterNoItems('friends')" class="btn btn-outline-primary">No Friends</button>
        <button type="button" (click)="filterWithItems('friends')" class="btn btn-outline-primary">With Friends</button>
        <button type="button" (click)="filterNoItems('professions')" class="btn btn-outline-success">No Professions</button>
        <button type="button" (click)="filterWithItems('professions')" class="btn btn-outline-success">With Professions</button>        
      </div>
    </div>
  </div>
</div>

<div *ngIf="listMode" class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div *ngIf="filtered$">
      <h3>From Store</h3>
      <span *ngFor="let item of filtered$ | async">
        <app-people-list-item (click)="updateMode()" [item]="item"></app-people-list-item>
      </span>
    </div>
    
    <!-- <div *ngIf="filteredData">
      <h3>From public API</h3>
      <span *ngFor="let item of filteredData;">
        <app-people-list-item (click)="updateMode()" [item]="item"></app-people-list-item>
      </span>
    </div> -->
  </div>
</div>